.card img {
  height: 250px;
}
.btn-buy {
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  text-transform: uppercase;
  color: #111;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #111;
  text-decoration: none;
  background-color: #fff;
}
.btn-buy span {
  position: relative;
  z-index: 3;
}
.btn-buy:hover {
  color: rgba(255, 68, 0, 0.945);
}
.btn-buy::before {
  position: absolute;
  content: "";
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;

  transform: scaleY(1);
}
.btn-buy::after {
  position: absolute;
  content: "";
  left: 6px;
  top: -2px;
  height: calc(100%+4px);
  width: calc(100% - 12px);
  background: #fff;
  transition: 0.5s all ease-in-out;

  transform: scaleX(1);
}
.btn-buy:hover:before {
  transform: scaleY(0);
}
.btn-buy:hover::after {
  transform: scaleX(0);
}
.my-card {
  border-radius: 10px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.3s all linear;
}
.my-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.my-form .input {
  width: 100%;
}
.my-form {
  text-align: left;
  border-radius: 15px;
}
.my-form .label {
  width: 100%;
  font-size: 20px;
}

.styled-input input:focus ~ label,
.styled-input textarea:focus ~ label,
.styled-input textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 14px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea,
select {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}

/* img hover effect */
.img-hover {
  position: relative;
  overflow: hidden;
}
.img-hover img {
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.img-hover::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.294);
  content: "";
  transition: all ease-in-out 0.7s;
  cursor: pointer;
}
.img-hover:hover::after {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 2;
}
.img-hover::before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.294);
  content: "";
  transition: all ease-in-out 0.7s;
}
.img-hover:hover::before {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 1;
}

.img-hover:hover img {
  transform: scale(1.3);
  z-index: -1;
}

/* home */

.heading .span {
  display: inline-block;
  position: relative;
}
.heading .span::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 123, 0, 0.952);
  content: "";
  left: 0;
  bottom: -15px;

  border-right: 10px;
}
.heading .span::before {
  position: absolute;
  width: 80%;
  height: 3px;
  transform: translateX(-50%);
  border-right: 10px;
  background-color: rgba(255, 136, 0, 0.719);
  content: "";
  left: 50%;
  bottom: -25px;
}
