/* 2.3 - Partners Carousel */
.slider-title {
    border-top: 1px solid #2D2B38;
    margin: 70px 0px;
    position: relative;
}

.slider-title p {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    top: -18px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0F0D1D;
}

.slick-slider.slick-initialized {
    padding: 0 0 0 30px !important;
}
